body{
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
}

.qr-container{
    background-color: hsl(0, 0%, 100%);
    height: 600px;
    width: 400px;
}

.qr-container{
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block; 
    border-radius: 20px;
}

h1{
    text-align: center;
    color: hsl(218, 44%, 22%)
}

p{
    font-size: 15px;
    text-align: center;
    color: hsl(216, 15%, 48%);
}